{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<h1 align="center">Todo App</h1> <br>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <input class="new-task" type="text" name="title" placeholder="Add a Task">
    </form>


    <br>
    <div class="Todo">
        <h2>Todo</h2>
        {% for task in tasks %}
        {% if task.completed == False %}


        <div class='task-list'>

            <div class="task-picker">
                <form id="completeForm" method="POST" action="complete/{{ task.id }}">
                    {% csrf_token %}
                    <input type="checkbox" id="ch" name="box" value="complete"
                           onchange="submit()">
                </form>
            </div>

            <div class="task-name">
                <form name="updateForm" method="POST" action="update/{{task.id}}">
                    {% csrf_token %}
                    <input class="task-title" type="text" name="title" value="{{task.title}}">
                </form>
            </div>

            <div class="task-action">
                <form id="deleteForm" method="POST" action="delete/{{ task.id }}">
                    {% csrf_token %}
                    <i class="material-icons" onclick="document.getElementById('deleteForm').submit()">delete</i>
                </form>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="completed">
        <h2>Completed</h2>
        {% for task in tasks %}
        {% if task.completed == True %}

        <div class="task-list">
            <div class="task-picker">
                <form method="POST" action="complete/{{task.id}}">
                    {% csrf_token %}
                    <input type="checkbox" id="check" name="box" value="todo" onchange="submit();">
                </form>
            </div>
            <div class="task-name">
                <i><strike>{{ task }}</strike></i>
            </div>
            <div class="task-action">
                <form id="deleteForm2" method="POST" action="delete/{{ task.id }}">
                    {% csrf_token %}
                    <i class="material-icons" onclick="document.getElementById('deleteForm2').submit()">delete</i>
                </form>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>


</body>
</html>